langchain
langchain-huggingface
langchain-pinecone
langchain-text-splitters
langchain-experimental~=0.3.4
fastapi~=0.116.1
uvicorn
pydantic
httpx
pytest
pytest-asyncio
langchain-core~=0.3.74
langchain-openai~=0.3.31
pypdf~=6.0.0
python-decouple~=3.8
python-dotenv~=1.1.1